[Desktop Entry]
path=/usr/bin/
Version=0.1
Terminal=false
Type=Application
StartupNotify=true

[Desktop Entry]
Actions=Open;Tray;
Categories=GTK;GNOME;Utility;
Comment[en_US]=LazyCat Terminal Emulator
Comment=LazyCat Terminal Emulator
Exec=heimdallr
GenericName[en_US]=LazyCat Terminal Emulator
GenericName=LazyCat Terminal Emulator
Icon=heimdallr
Keywords=Terminal;LazyCat;heimdallr;
Name[en_US]=LazyCat Terminal Emulator
Name=LazyCat Terminal Emulator
StartupNotify=true
StartupWMClass=heimdallr
Terminal=false
Type=Application

[Desktop Action Open]
Exec=heimdallr
Name=Start LazyCat Terminal Emulator

[Desktop Action Tray]
Exec=heimdallr --tray
Name=Start in System Tray (heimdallr)
