[Desktop Entry]
Version=0.1
Type=Application
Name=LazyCat Terminal Emulator
GenericName=Terminal Emulator
Comment=Lightweight terminal emulator with clockbar
Exec=lazycat
Icon=lazycat
Terminal=false
Categories=Utility;GTK;GNOME;
StartupNotify=true
StartupWMClass=lazycat
Keywords=Terminal;LazyCat;Emulator;

Actions=Open;Tray;

[Desktop Action Open]
Exec=lazycat
Name=Open LazyCat Terminal Emulator

[Desktop Action Tray]
Exec=lazycat --tray
Name=Start in System Tray (LazyCat)
