[Desktop Entry]
path=/usr/bin/
Version=0.1
Terminal=false
Type=Application
StartupNotify=true

[Desktop Entry]
Actions=Open;Tray;
Categories=GTK;GNOME;Utility;
Comment[en_US]=Heimdallr Terminal Emulator
Comment=Heimdallr Terminal Emulator
Exec=heimdallr
GenericName[en_US]=Heimdallr Terminal Emulator
GenericName=Heimdallr Terminal Emulator
Icon=heimdallr
Keywords=Terminal;Heimdallr;heimdallr;
Name[en_US]=Heimdallr Terminal Emulator
Name=Heimdallr Terminal Emulator
StartupNotify=true
StartupWMClass=heimdallr
Terminal=false
Type=Application

[Desktop Action Open]
Exec=heimdallr
Name=Start Heimdallr Terminal Emulator

[Desktop Action Tray]
Exec=heimdallr --tray
Name=Start in System Tray (heimdallr)
